@import 'common/css-parameters';
@import 'common/mixins';

.phoneList {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid $color-grey-background;
    margin-bottom: $space20;
    padding-bottom: $space10;

    .contacts, .comment {
        width: 50%;
    }

    .number {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: $space6;
        font-size: $font-size-14;
        color: $color-black;
    }

    .email {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: $space6;
        font-size: $font-size-14;
        color: $color-black;
    }

    .icon {
        img {
            width: 16px;
            display: block;
            margin-right: $space10;
        }
    }
}

