@import "../../parameters";
@import "../../mixins";
@import "../../font";

.contactListPage {
    @include pageParameters();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .contactList {
        width: 86%;
        max-width: $max-width-tile;
    }
}