@import "../../parameters";
@import "../../mixins";
@import "../../font";

.contactListPage {
    @include pageParameters();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .contactList {
        width: 86%;
        max-width: $max-width-tile;
    }
}

//ADAPTATION SECTION
@media screen and ($LaptopScreen) {
    .contactListPage {
        margin-left: 80px;
    }
}

@media screen and ($MobileScreen) {
    .contactListPage {
        margin: 0;
        padding: 0 10px;

        .contactList {
            width: 100%;
            order: 3;
        }
    }
}
