@import '../../common/typography';

.contactListPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .contactList {
        width: 84%;
        max-width: $max-width-tile;
    }

    .widget {
        width: 14.5%;
        margin-left: 1.5%;
        position: relative;
        top: 30px;
        transition: top 150ms ease-in-out;

        .scroll & {
            position: sticky;
            top: 90px;
        }
    }

}

//ADAPTATION SECTION
@media screen and ($LaptopScreen) {

}

@media screen and ($MobileScreen) {
    .contactListPage {
        margin: 0;
        padding: 0 10px;

        .contactList {
            width: 100%;
            order: 3;
        }
        .widget {
            right: 27px;
            margin: 0;
            top: 12px;
            position: absolute;
        }
    }
}
