@import '../../common/css-parameters';
@import '../../common/mixins';

.contactListSkeleton {
    $background: $color-grey-background-skeletons;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px 23px;

    .contactListSkeletonCircle {
        background: $background;
        overflow: hidden;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $background 0%, white 50%, $background 100%);
            animation: skeleton 1s ease-in-out infinite;
        }
    }

    .contactListSkeletonRow {
        background: $background;
        overflow: hidden;
        border-radius: $radius6;
        position: relative;
        height: 30px;
        width: 100px;
        flex-grow: 2;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $background 0%, white 50%, $background 100%);
            animation: skeleton 1s ease-in-out infinite;
        }
    }

    .contactListSkeletonPhone {
        background: $background;
        overflow: hidden;
        border-radius: $radius6;
        position: relative;
        height: 30px;
        width: 100px;
        flex-grow: 1;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $background 0%, white 50%, $background 100%);
            animation: skeleton 1s ease-in-out infinite;
        }
    }

    .contactListSkeletonProduct {
        background: $background;
        overflow: hidden;
        border-radius: $radius6;
        position: relative;
        height: 30px;
        width: 80px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $background 0%, white 50%, $background 100%);
            animation: skeleton 1s ease-in-out infinite;
        }
    }

    .contactListSkeletonReminder {
        background: $background;
        overflow: hidden;
        border-radius: $radius6;
        position: relative;
        height: 30px;
        width: 100px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $background 0%, white 50%, $background 100%);
            animation: skeleton 1s ease-in-out infinite;
        }
    }
}

@keyframes skeleton {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}