@import "src/parameters";

.customer {
    display: flex;
    flex-direction: row;

    width: 100%;

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }

    .organization {
        width: 15%;
    }
}