@import "src/parameters";
@import "src/mixins";
@import "src/font";

.customer {
    @include customerListTable();

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;

    width: 100%;

    box-sizing: border-box;
    padding: 10px 0 10px 10px;

    border-right: 20px solid transparent;
    border-bottom: 1px $color-grey-light dashed;

    > div, > pre {
        box-sizing: border-box;
        padding: 0 10px;
        font-size: $font-size-smaller;
    }

    .organization {

    }

    .contactFace {

    }

    .phone {

    }

    .email {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .description {
        white-space: break-spaces;
    }

    .reminder {

    }

    .reminderDate {

    }


    .feedbackMessage {
        position: initial;
        margin: 20px;
    }

    &.activeReminder {
        border-right: 20px solid $color-red;
    }
}