@import 'common/css-parameters';
@import 'common/mixins';

.contactList {
    width: 49%;
    display: flex;
    flex-flow: column nowrap;

    .tableHeader {
        display: block;
    }

    .tableHeaderRow, .tableBodyRow {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        .organization {
            width: 35%;
        }

        .contactFace {
            width: 35%;
        }

        .phoneList {
            width: 25%;
        }

        .reminder {
            width: 5%;
        }
    }

    .tableBodyRow {
        cursor: pointer;

        > div {
            box-sizing: border-box;
            padding: $space4 $space4 $space4 0;
        }
    }
}