@import "../../common/css-parameters";

.loginPage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    height: 100vh;
    width: 100%;

    .titleLoginPage {
        width: 40%;
        box-sizing: border-box;
        background: $color-purple;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .content {
            display: flex;
            flex-flow: row wrap;

            .logotype {
                background: url("../../common/assets/bigLogotype.jpg") center no-repeat;
                background-size: 80%;
                width: 100%;
                height: 206px;
            }

            .imgGirl {
                background: url("../../common/assets/mainBackground.png") center no-repeat $color-white;
                background-size: 80%;
                width: 187px;
                height: 370px;
                border-radius: 10px;
            }

            .imgBox {
                width: 100px;
                display: flex;
                flex-direction: column;
            }

            .imgGraph, .imgSchedule, .imgPeople {
                width: 110px;
                height: 110px;
                margin: 0 20px;
                border-radius: 10px;
                background-color: $color-white;
            }

            .imgGraph {
                background: url("../../common/assets/cylindrical-graph-4.svg") center no-repeat $color-white;
                background-size: 50%;
            }

            .imgSchedule {
                margin: 20px;
                background: url("../../common/assets/schedule-25.svg") center no-repeat $color-white;
                background-size: 65%;
            }

            .imgPeople {
                background: url("../../common/assets/group-people.svg") center no-repeat $color-white;
                background-size: 50%;
            }

        }

        &::after {
            background-color: $color-purple;
            -webkit-clip-path: polygon(0 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 0, 0 0);
            content: "";
            height: 100%;
            position: absolute;
            right: -8.73rem;
            top: 0;
            width: 8.76rem;
        }
    }

    .contentLoginPage {
        box-sizing: border-box;
        padding: 0 10px;
        width: 60%;
        background: $color-white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
    }

    .title {
        @include interSemiBold;
        font-size: $font-size-24;
        margin-bottom: $space12;
    }

}

//ADAPTATION SECTION
//@media screen and ($LaptopScreen) {
//    .loginPage {
//        .titleLoginPage {
//            width: 50%;
//
//            h2 {
//                font-size: $font-size-the-biggest;
//            }
//        }
//
//        .contentLoginPage {
//            width: 50%;
//        }
//    }
//}
//
//@media screen and ($MobileScreen) {
//    .loginPage {
//        flex-direction: column;
//        justify-content: flex-start;
//        background-color: $color-white;
//
//        .titleLoginPage {
//            width: 100%;
//            justify-content: center;
//
//            &:before {
//                content: "";
//                display: block;
//                width: 75px;
//                height: 60px;
//                background: url("../../../public/img/logotype.png") left top no-repeat;
//                background-size: cover;
//            }
//
//            h2 {
//                display: none;
//            }
//        }
//
//        .contentLoginPage {
//            width: 100%;
//
//            .form {
//                margin: 20px 0 0 0;
//            }
//        }
//    }
//}