@import 'common/css-parameters';
@import 'common/mixins';

// Компонент использует css без модулей.

.reactWrapper {
    $button-previous: $color-blue url("../../../src/common/assets/icon/datepicker/datepickerArrowLeft.svg");
    $button-next: $color-blue url("../../../src/common/assets/icon/datepicker/datepickerArrowRight.svg");
    $icon-calendar: url("../../../src/common/assets/icon/datepicker/calendar.svg");
    $icon-calendar-error: url("../../../src/common/assets/icon/datepicker/calendarDisabled.svg");
    $icon-calendar_disabled: url("../../../src/common/assets/icon/datepicker/calendarDisabled.svg");

    .react-datepicker-wrapper {
        position: relative;
        z-index: 3;

        input {
            @include interRegular();
            box-sizing: border-box;
            padding: $space12;
            border-radius: $radius6;
            border: 1px solid $color-grey;
            color: $color-black;
            font-size: $font-size-base;
            outline: none;

            &:focus {
                border: 1px solid $color-blue;
            }

            &::placeholder {
                color: $color-grey-dark;
                opacity: 1; /* Firefox */
            }

            &::-ms-input-placeholder { /* Edge 12 -18 */
                color: $color-grey-dark;
            }
        }
    }

    .react-datepicker {
        border: none;
        border-radius: $radius10;
        box-shadow: 0 4px 34px #6560f01a;
    }

    .react-datepicker__month-container {
        width: 300px;

        .react-datepicker__header {
            box-sizing: border-box;
            background: none;
            border: none;
            border-bottom: 1px solid $color-grey;
            padding: $space20;
            text-align: left;
        }

        .react-datepicker__current-month {
            display: none;
        }
    }

    .react-datepicker__month-select {
        border: none;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background: url("../../common/assets/icon/arrow-down.svg") top -1px right 0 no-repeat;

        font-size: $font-size-18;
        color: $color-grey-dark;
        padding-right: 23px;
    }

    .react-datepicker__year-dropdown-container--select,
    .react-datepicker__month-dropdown-container--select,
    .react-datepicker__month-year-dropdown-container--select,
    .react-datepicker__year-dropdown-container--scroll,
    .react-datepicker__month-dropdown-container--scroll,
    .react-datepicker__month-year-dropdown-container--scroll {
        margin: 0;
    }

    .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
    .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
        display: none;
    }

    .react-datepicker-popper[data-placement^=top],
    .react-datepicker-popper[data-placement^=bottom] {
        padding: 0;
    }

}

