{
  "endOfLine": "lf",
  "useTabs": false,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
}
