@import "src/parameters";
@import "src/font";
@import "src/mixins";

.textMessage {
    &.small {
        font-size: $font-size-big;
        text-align: center;

        box-sizing: border-box;
        padding: 10px;
    }

    &.big {
        font-size: $font-size-big;
        text-align: center;

        box-sizing: border-box;
        padding: 50px 10px;
    }

    &.top {
        margin: 10px 0;
    }
}