@import "src/parameters";
@import "src/font";
@import "src/mixins";

.contactEditPage {
    @include pageParameters();
}

//ADAPTATION SECTION
@media screen and ($LaptopScreen) {
    .contactEditPage {
        margin-left: 80px;
    }
}

@media screen and ($MobileScreen) {
    .contactEditPage {
        margin-left: 0;
        padding: 0 10px;
    }
}