@import 'common/css-parameters';
@import 'common/mixins';

.scrollTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 3;

    background: $color-main;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius6;
    box-shadow: rgba(82, 63, 105, 0.05) 0 5px 5px 0;
    transition: bottom 200ms ease;

    &:hover {
        bottom: 54px;
    }

    svg {
        fill: $color-white;
    }
}