@import "../../parameters";
@import "../../mixins";
@import "../../font";

.dashboard {
    @include pageParameters();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    .customerList {
        width: 86%;
    }
}