@import 'common/css-parameters';
@import 'common/mixins';

.dashboardPage {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    padding: $space20 $space20 0 $space20;

    .head {
        width: 100%;
        height: 184px;
        background-color: $color-purple-dark;
        position: fixed;
        margin: -20px 0 0 -20px;
    }

    .sideBarWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 2;
        flex-basis: 40%;
        position: sticky;
        transition: top .5s ease;
        top: 0;
        gap: $space20;

        &.scroll {
            top: 20px;
        }
    }
}