@import "src/parameters";
@import "src/font";
@import "src/mixins";

.radioButtonCurrency {
    display: flex;
    flex-direction: row;
    background-color: $color-white-light;

    margin: 10px -10px;

    .formRadio {
        width: 20%;

        input[type=radio] {
            display: none;
        }

        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            user-select: none;
            font-size: 0;
        }

        label:before {
            content: "";
            display: inline-block;
            width: 40px;
            height: 40px;
            transition: background-size 100ms ease;

        }

        $sizeIcon: 20px;

        &.USD {
            label:before {
                background: url("../../../public/img/icons/currency/USD.svg") center no-repeat;
                background-size: $sizeIcon;
            }
        }

        &.EUR {
            label:before {
                background: url("../../../public/img/icons/currency/EUR.svg") center no-repeat;
                background-size: $sizeIcon;
            }
        }

        &.PLN {
            label:before {
                background: url("../../../public/img/icons/currency/PLN.svg") center no-repeat;
                background-size: $sizeIcon;
            }
        }

        &.RUB {
            label:before {
                background: url("../../../public/img/icons/currency/RUB.svg") center no-repeat;
                background-size: $sizeIcon;
            }
        }

        &.BYN {
            label:before {
                background: url("../../../public/img/icons/currency/BYN.svg") center no-repeat;
                background-size: $sizeIcon;
            }
        }

        /* Checked */
        input[type=radio]:checked + label:before {
            //background: url("../../../public/logo192.png") 0 0 no-repeat;
            background-size: 34px;
        }

        /* Hover */
        label:hover:before {
            //filter: brightness(6%);
            background-size: 28px;
        }

        /* Disabled */
        input[type=radio]:disabled + label:before {
            filter: grayscale(100%);
        }

    }
}