@import "src/parameters";
@import "src/mixins";
@import "src/font";

@mixin imgBtn($img) {
    box-sizing: border-box;
    padding: 10px 20px;
    background: none;
    background: $img center center no-repeat;

    border: none;
    font-size: 0;
    min-width: initial;
}

.button {
    border-radius: $border-radius-main;
    border: 1px solid $color-green;
    background: $color-white;
    color: $color-green;
    font-size: $font-size-small;

    padding: 10px 20px;
    min-width: 150px;

    text-transform: uppercase;
    transition: $transition-main-button;

    @include interRegular();

    &:hover {
        box-shadow: $box-shadow-hover;
        border: 1px solid $color-green-light2;
        cursor: pointer;
    }

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border: 1px solid $color-grey;
    }

    &.mainAction {
        border: 1px solid $color-green;
        background: $color-green;
        color: $color-white;

        &:hover {
            background: $color-green-light2;
            border: 1px solid $color-green-light2;
        }

        &:focus {
            border: 1px solid $color-grey;
        }
    }

    &.deleteAction {
        border: 1px solid $color-red;
        background: $color-red;
        color: $color-white;

        &:hover {
            border: 1px solid $color-red-light2;
            background: $color-red-light2;
        }
    }

    &.addContact {
        padding: 10px 20px 10px 25px;
        font-size: $font-size-smaller;

        background: $color-green url("../../../public/img/icons/iconAdd.svg") 15px center no-repeat;
        background-size: 23px;

        &:hover {
            border: 1px solid $color-green-light2;

            background: $color-green-light2 url("../../../public/img/icons/iconAdd.svg") 15px center no-repeat;
            background-size: 23px;
        }
    }

    &.imgBtn {
        &.edit {
            @include imgBtn(url("../../../public/img/icons/iconEdit.svg"));
            background-size: 20px;
            //padding: 10px 25px;

            &:hover {
                @include imgBtn(url("../../../public/img/icons/iconEditHover.svg"));
                background-size: 20px;
                //padding: 10px 25px;
            }
        }

        &.delete {
            @include imgBtn(url("../../../public/img/icons/iconDelete.svg"));
            background-size: 20px;
            //padding: 10px 25px;

            &:hover {
                @include imgBtn(url("../../../public/img/icons/iconDeleteHover.svg"));
                background-size: 20px;
                //padding: 10px 25px;
            }
        }


        &.eye {
            @include imgBtn(url("../../../public/img/icons/iconEye.svg"));
            background-size: 24px;
            //padding: 10px 25px;

            &:hover {
                @include imgBtn(url("../../../public/img/icons/iconEyeHover.svg"));
                background-size: 24px;
                //padding: 10px 25px;
            }
        }

        &.deleteRecordList {
            @include imgBtn(url("../../../public/img/icons/iconDeleteProductRed.svg"));
            background-size: 20px;
            padding: 12px 12px;
        }

        &.checkNotify {
            @include imgBtn(url("../../../public/img/icons/iconNotification.svg"));

            &:hover {
                @include imgBtn(url("../../../public/img/icons/iconNotificationGreen.svg"));
            }
        }

        &.updateData {
            @include imgBtn(url("../../../public/img/icons/iconUpdateData.svg"));

            &:hover {
                @include imgBtn(url("../../../public/img/icons/iconUpdateDataHover.svg"));
            }
        }

        &:hover {
            box-shadow: none;
        }
    }
}