@import "src/parameters";
@import "src/font";
@import "src/mixins";

.customerListReminderWidget {
    width: 12%;
    margin-left: 20px;

    .scroll & {
        position: sticky;
        top: 103px;
    }

    .customer {
        @include tileParameters($color-red-light, $color-red-light);
        flex-direction: column;
        margin-bottom: 20px;
        max-height: inherit;

        cursor: pointer;
        transition: $transition-main-box-shadow;
        overflow: visible;

        &::after {
            display: none;
        }

        &:hover {
            box-shadow: $box-shadow-hover;
        }

        &:before {
            box-sizing: border-box;
            padding: 4px;
            content: url("../../../public/img/icons/notificationGreen.svg");
            position: absolute;
            top: -14px;
            left: -14px;

            background-color: $color-white;
            border-radius: 50%;

            display: block;
            height: 26px;
            width: 26px;
        }


        .organization {
            @include interSemiBold();
            width: 100%;
            font-size: $font-size-small;
            padding: 0 0 5px 0;
        }

        .contactFace {
            width: 100%;
            font-size: $font-size-the-smallest;
            padding: 0 0 5px 0;
        }
    }
}