@import "../../parameters";
@import "../../font";
@import "../../mixins";

.InputTextFieldPassword {
    @include interLight();

    box-sizing: border-box;
    padding: 12px 10px 12px;

    font-size: $font-size-normal;
    border: 1px solid $color-grey-light2;
    border-radius: $border-radius-main;

    &:focus {
        outline: 0;
        border: 1px solid $color-grey;
    }

    .error & {
        box-shadow: $box-shadow-border;
    }
}