@import "../../parameters";
@import "../../font";
@import "../../mixins";

.InputTextFieldPassword {
    @include interLight();

    box-sizing: border-box;
    padding: 12px 10px 12px;

    font-size: $font-size-normal;
    border: none;
    box-shadow: $box-shadow-border;
    border-radius: $border-radius-main;

    &:focus {
        outline: 0;
        box-shadow: $box-shadow-border;
    }

    .error & {
        box-shadow: $box-shadow-border;
    }
}