@import "src/parameters";
@import "src/font";
@import "src/mixins";


.search {
    box-sizing: border-box;
    padding: 10px 0 0;
    background: $color-white;
    z-index: 2;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: stretch;
    width: 100%;

    .scroll & {
        position: sticky;
        top: 0;
    }

    @include contactListTable();

    .headerColumn {

        display: flex;
        flex-direction: column;

        @include interSemiBold();

        &.organization, &.contactFace {
            .label {
                background: $color-white-light url("../../../public/img/icons/iconSortByName.svg") center right 10px no-repeat;
                background-size: 20px;
                cursor: pointer;
            }
        }

        .inputTextField {
            box-sizing: border-box;
            padding: 6px 25px 10px 6px;
            margin-bottom: 10px;
            border-radius: $border-radius-main-small;
            background: $color-white url("../../../public/img/icons/iconSearch.svg") center right 7px no-repeat;
            background-size: 18px;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $color-white;
                opacity: 0; /* Firefox */
            }
        }

        &.organization {
            .inputTextField {
                border-radius: $border-radius-main-small 0 0 $border-radius-main-small;
                background-position: center right 17px;
                margin-left: 10px;
                padding-right: 36px;
            }
        }

        &.contactFace {
            .inputTextField {
                border-radius: 0;
            }
        }

        &.contacts {
            .inputTextField {
                border-radius: 0;
            }

        }

        &.products {
            .inputTextField {
                border-radius: 0 $border-radius-main-small $border-radius-main-small 0;
            }

        }


        .label {
            text-transform: uppercase;
            font-size: $font-size-smallest;
            padding: 10px 10px;
            margin: 0;

            background: $color-white-light;
        }
    }

    .actionBar {
        align-self: flex-end;
        flex-grow: 1;
    }

    .viewSortData {
        position: absolute;
        right: 13px;
        top: 17px;

        //display: flex;
        flex-direction: row;
        display: none;
    }

}

//ADAPTATION SECTION
@media screen and ($LandscapeSmallScreen) {
    .search {
        .headerColumn {
        }
    }
}

@media screen and ($LaptopScreen) {
    .search {
        .products {
            display: none;
        }

        .description {
            display: none;
        }

        .organization {
            width: 24%;
        }

        .contactFace {
            width: 25%;
        }

        .contacts {
            width: 25%;

            .inputTextField {
                display: none;
            }
        }

        .reminder {
            display: none;
        }

        .actionBar {
            width: 26%;
        }

        .viewSortData {
            display: none;
        }
    }
}

@media screen and ($MobileScreen) {
    .search {
        padding-top: 0;

        .headerColumn {
            .label {
                display: none;
            }

            &.organization {
                .inputTextField {
                    margin-left: 0;
                }
            }
            .inputTextField {
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $color-grey;
                    opacity: 1; /* Firefox */
                }
            }
        }

        .actionBar {
            display: none;
        }

        .organization,
        .contactFace {
            width: 50%;
        }

        .contacts,
        .reminder,
        .actionBar {
            display: none;
        }

        .scroll & {
            top: 45px;
        }

    }
}
