@import "src/parameters";
@import "src/font";
@import "src/mixins";

.navigation {
    border-right: 1px solid $color-grey-light;

    width: $width-menu;

    position: fixed;
    top: 0;
    bottom: 0;

    .logOut & {
        display: none;
    }

    .logotype {
        font-size: 0;
        background: url("../../../public/img/logotype.png") left center no-repeat;
        background-size: cover;

        width: 150px;
        height: 100px;
        margin: 37px 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;


        li {
            box-sizing: border-box;
            margin-bottom: 5px;

            @mixin action($img, $imgHover, $bgSize) {
                box-sizing: border-box;
                padding: 10px 20px 10px 40px;
                display: block;
                width: 90%;

                text-decoration: none;
                border-radius: 0 $border-radius-main $border-radius-main 0;
                background: $img left 8px center no-repeat;
                color: $color-black;
                transition: background 200ms ease;

                &.active {
                    background: $color-blue-light $imgHover left 8px center no-repeat;
                    background-size: $bgSize;
                    color: $color-white;
                }

                &:hover {
                    background: $color-blue-light4 $imgHover left 8px center no-repeat;
                    background-size: $bgSize;
                    color: $color-white;
                }
            }

            .actionContactListPage {
                @include action(url("./../../../public/img/icons/iconUser.svg"),
                    url("./../../../public/img/icons/iconUserHover.svg"), 29px);

                background-size: 29px;
            }

            .actionContactListReminderPage {
                @include action(url("./../../../public/img/icons/iconNotification.svg"),
                    url("./../../../public/img/icons/iconNotifiactionHover.svg"), 26px);
                background-size: 26px;
            }
        }

    }
}

//ADAPTATION SECTION
@media screen and ($LaptopScreen) {
    .navigation {
        width: 80px;

        .logotype {
            width: 69px;
            height: 70px;
            margin: 5px;
        }

        ul li {
            .actionContactListPage, .actionContactListReminderPage {
                font-size: 0;
                padding: 20px 10px;
                background-position: center;

                &.active {
                    background-position: center;
                }

                &:hover {
                    background-position: center;
                }
            }
        }
    }
}