@import "src/parameters";
@import "src/font";
@import "src/mixins";

.navigation {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;

    .openNavi {
        font-size: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 40px 0 10px;
        display: flex;
        flex-direction: row;

        li {
            box-sizing: border-box;
            margin-bottom: 5px;

            a {
                box-sizing: border-box;
                padding: 0 20px 0 0;

                color: $color-black;
                text-decoration: none;
                transition: background 200ms ease;

                &.active {
                    color: $color-blue-light;
                }

                &:hover {
                    color: $color-blue-light;
                }
            }
        }
    }
}

//ADAPTATION SECTION
@media screen and ($LaptopScreen) {
    .navigation {

    }
}

@media screen and ($MobileScreen) {
    .navigation {
    }
}