#react-confirm-alert {

    .react-confirm-alert-overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    .react-confirm-alert {
        background: red;
        border-radius: 1px;
        width: 400px;
        overflow: hidden;

        .custom-ui {
            padding: 20px;

            .headerBack {
                height: 160px;
                background: red url("../../../public/img/icons/iconQuestion.svg") center no-repeat;
                background-size: 30%;
                margin: -20px -20px 20px -20px;
            }

            .head {
                margin: 0 0 20px;
                font-size: 1px;
                text-align: center;
            }

            .body {
                margin: 0 -20px;
                padding: 20px 40px;

                .bodyContentOrganization {
                    margin-bottom: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    font-size: 10px;
                }

                .bodyContentContactFace {
                    color: red;

                }
            }

            .foot {
                padding-top: 20px;

                text-align: center;
                border-top: 1px solid red;
                margin: 30px -20px 0;

                .button {
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }

    }
}
