@import 'common/css-parameters';
@import 'common/mixins';

.createContactPage {
    padding: $space20;

    .form {
        display: flex;
        flex-flow: row wrap;

        > div {
            margin: 0 $space20 $space20 0;
        }
    }
}