@import 'common/css-parameters';
@import 'common/mixins';

.createContactPage {
    box-sizing: border-box;
    padding: $space20;
    max-width: 1313px;

    .form {
        display: flex;
        flex-flow: row wrap;
        gap: $space20;

        .rightBlock {
            display: flex;
            flex-flow: column nowrap;
            gap: $space20;
            width: 49%;
        }
    }
}