@import '../../common/css-parameters';
@import '../../common/mixins';

.reminder {
    @include blockStyle();

    .reminderWrapper {
        display: flex;
        flex-flow: column nowrap;

        .date {
            font-size: $font-size-base;
            color: $color-reminder;
            margin-bottom: $space4;
        }

        .comment {
            font-size: $font-size-14;
            color: $color-grey-dark;
        }
    }
}