@import '../../common/css-parameters';
@import '../../common/mixins';

.reminder {

    border-right: 1px dashed $color-grey-background;

    .reminderWrapper {
        display: flex;
        flex-flow: column nowrap;

        .date {
            font-size: $font-size-base;
            color: $color-green;
        }

        .comment {
            font-size: $font-size-14;
            color: $color-grey-dark;
        }
    }
}