@import 'common/css-parameters';
@import 'common/mixins';

.headingH2 {
    @include interMedium();
    display: flex;
    flex-flow: row nowrap;

    font-size: $font-size-18;
    margin-bottom: $space10;

    .icon {
        display: block;
        width: 15px;
        margin-left: 6px;
        color: $color-grey-dark;
    }
}