@import "../../parameters";
@import "../../font";
@import "../../mixins";

.inputPhoneNumber {
    display: flex;
    flex-direction: column;

    .rowCheck {
        display: flex;
        flex-direction: column;

        padding: 30px 0 0;

        p {
            margin: 0 0 10px 0;
            width: 100%;

            @include interSemiBold();
        }

        .columnType {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .checkboxWrapperNormal {
                margin-right: 20px;
            }
        }

        .columnMessenger {

        }
    }

    .actionBar {
        margin: 10px 0;
    }

}

@media screen and ($MobileScreen) {
    .inputPhoneNumber .rowCheck .columnType .checkboxWrapperNormal {
        input {
            width: 0;
            min-width: 0;
        }
    }
}