@import "src/parameters";
@import "src/mixins";
@import "src/font";

.contactList {
    @include tileParameters();

    position: relative;
    margin-bottom: 40px;

    .headerList {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 10px;
        border-bottom: 1px $color-grey-light dashed;

        .header4 {
            flex-grow: 1;
            margin: 0;
        }

        .checkNotify {
            margin: 0 20px 0 0;
        }

        .updateData {
            margin: 0 5px 0 0;
        }
    }


}
@media screen and ($MobileScreen) {
    .contactList {
        .headerList {
            border: none;

            .button {
                margin: 0;
            }

            .addContact {
                font-size: 0;
                min-width: initial;
                padding: 16px;
                background-position: left 7px center;
            }
        }
    }
}