@import "common/typography";
@import "common/css-parameters";

.inputField {
    @include interRegular();
    box-sizing: border-box;
    padding: $space12;
    border-radius: $radius6;
    border: 1px solid $color-grey;
    color: $color-black;
    font-size: $font-size-base;
    outline: none;

    &:focus {
        border: 1px solid $color-blue;
    }

    &::placeholder {
        color: $color-grey-dark;
        opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder { /* Edge 12 -18 */
        color: $color-grey-dark;
    }
}


.error {
    border: 1px solid $color-red;
    color: $color-red;
}