@import "../../parameters";
@import "../../mixins";
@import "../../font";

.customer {
    @include customerListTable();

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    width: 100%;
    overflow: hidden;

    box-sizing: border-box;
    padding: 6px 0 6px 10px;
    border-bottom: 1px $color-grey-light dashed;

    > div, > pre {
        box-sizing: border-box;
        padding: 0 6px;
        font-size: $font-size-smaller;
    }

    .products {

    }

    .contactFace {

    }

    .phone {

    }

    .email {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .description {
        white-space: break-spaces;
        @include interRegular();
    }

    .reminder {

        display: flex;
        flex-direction: row;

        .icon {
            display: block;
            font-size: 0;
            width: 30px;
            height: 30px;
        }

        &.on {
            background: url("../../../public/img/icons/notificationGreen.svg") left no-repeat;
            background-size: 20px;

            .reminderDate {
                color: $color-green;
            }
        }

        &.off {
            background: url("../../../public/img/icons/notification.svg") left no-repeat;
            background-size: 20px;
        }


    }

    .feedbackMessage {
        position: initial;
        margin: 20px;
    }

    .actionBar {
        background: none;
        display: flex;
        flex-direction: row;

    }
}