@import "../../parameters";
@import "../../mixins";
@import "../../font";

.customer {
    @include customerListTable();

    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    position: relative;

    width: 100%;
    overflow: hidden;

    box-sizing: border-box;
    padding: 6px 10px 5px 10px;

    max-height: 53px;

    &::after {
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        left: 10px;
        bottom: 0;
        right: 10px;
        border-bottom: 1px $color-grey-light dashed;
        background-color: $color-white;
    }

    &.more {
        max-height: initial;
    }

    > div, > pre {
        box-sizing: border-box;
        padding: 0 6px;
        font-size: $font-size-smaller;
    }

    .organization {
        word-wrap: break-word;
        padding-bottom: 10px;
    }

    .contactFace {
        word-wrap: break-word;
        padding-bottom: 10px;
    }

    .products {
        word-wrap: break-word;
        padding-bottom: 10px;
    }

    .phone {
        padding-bottom: 10px;
    }

    .email {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .description {
        white-space: break-spaces;
        @include interRegular();
        padding-bottom: 10px;
    }

    .reminder {

        display: flex;
        flex-direction: row;

        .icon {
            display: block;
            font-size: 0;
            width: 30px;
            height: 30px;
        }

        &.on {
            background: url("../../../public/img/icons/notificationGreen.svg") left no-repeat;
            background-size: 20px;

            .reminderDate {
                color: $color-green;
            }
        }

        &.off {
            background: url("../../../public/img/icons/notification.svg") left no-repeat;
            background-size: 20px;
        }


    }

    .feedbackMessage {
        position: initial;
        margin: 20px;
    }

    .actionBar {
        background: none;
        display: flex;
        flex-direction: row;
    }

    .archiveProductList {
        font-size: $font-size-smallest;
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        background-color: $color-blue-light2;
        border-radius: 0 0 $border-radius-main $border-radius-main;
        div {
            padding: 10px 6px;
        }
    }
}