@import "../../parameters";
@import "../../mixins";
@import "../../font";

.customer {
    $paddingBottom: 10px;
    @include customerListTable();

    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    position: relative;

    width: 100%;
    overflow: hidden;
    box-shadow: $box-shadow-customer-tile-inset;

    box-sizing: border-box;
    padding: 10px;

    max-height: 50px;

    &:nth-child(2n) {
        background-color: $color-blue-light3;
    }

    &:hover {
        background: $color-blue-light2;

        &::after {
            border-bottom: 1px $color-grey-light dashed;
            background-color: $color-blue-light2;
        }
    }

    &.more {
        max-height: initial;
    }

    > div, > pre {
        box-sizing: border-box;
        padding: 0 5px;
        font-size: $font-size-smaller;
    }

    .organization {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
        @include interSemiBold();
    }

    .contactFace {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
    }

    .products {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
    }

    .phone {
        padding-bottom: $paddingBottom;
    }

    .email {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: $paddingBottom;
    }

    .description {
        white-space: break-spaces;
        @include interRegular();
        padding-bottom: $paddingBottom;
    }

    .reminder {
        display: flex;
        flex-direction: row;

        .icon {
            display: block;
            font-size: 0;
            width: 30px;
            height: 30px;
        }

        &.on {
            background: url("../../../public/img/icons/notificationGreen.svg") left no-repeat;
            background-size: 20px;

            .reminderDate {
                color: $color-green;
            }
        }

        &.off {
            background: url("../../../public/img/icons/notification.svg") left no-repeat;
            background-size: 20px;
        }


    }

    .feedbackMessage {
        position: initial;
        margin: 20px;
    }

    .actionBar {
        background: none;
        display: flex;
        flex-direction: row;
    }

    .archiveProductList {
        width: 100%;

        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        font-size: $font-size-smallest;
        box-shadow: $box-shadow-box-inset;
        background-color: $color-white;

        padding: 0;
        margin: 0 -10px;

        div {
            padding: 5px 1px 5px 8px;
            margin-left: 7px;

            &:not(:first-child) {
                border-left: 1px solid $color-grey-light;
            }
        }
    }
}