@import 'common/css-parameters';
@import 'common/mixins';
@import '../CommomStyle.module';

.tableBody {
    .tableBodyRow {
        @include contactListTable();

        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid $color-grey;
        padding: $space10 $space20;
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: $color-grey-background;
        }

    }
}