@import "src/parameters";
@import "src/font";
@import "src/mixins";

.formEditCustomer {

    .productsArea {
        @include area();

        > div {
            display: flex;
            flex-direction: row;
            gap: 10%;
        }

        .actualProductList {
            width: 45%;
        }

        .archiveProductList {
            width: 45%;
        }

        .additionalProductList {
            > .button {
                margin-bottom: 10px;
            }
        }

        .productFromList {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 10px 12px 0;

            .button {
                margin-right: 10px;
            }
        }

        .inputTextField {
            width: 100%;
        }

        .formRow {
            margin-bottom: 10px;
        }
    }

    .customerArea {
        @include area();
    }

    .contactsArea {
        @include area();

        .phone {
            margin-bottom: 30px;

            .formRow {
                margin-bottom: 10px;
            }

            > .button {
                margin-bottom: 10px;
            }

            .phoneFromList {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 10px 12px 0;
            }
        }
    }

    .descriptionArea {
        @include area();
    }

    .reminderArea {
        @include area();

        .reminder {
            margin-bottom: 40px;
        }

        &.deactivated {
            .dateField {
                &:before {
                    content: '';
                    position: absolute;
                    top: 26px;
                    right: 2px;
                    bottom: -2px;
                    left: -2px;
                    background: rgba(255, 255, 255, 0.7);
                    z-index: 2;
                }

            }
        }
    }

    .actionBar {
        margin: 20px 0 100px;

        .button {
            margin-right: 20px;
        }

    }
}