@import 'common/css-parameters';
@import 'common/mixins';

.reminderWidget {
    display: flex;
    flex-flow: column nowrap;
    gap: $space10;
    max-height: 220px;
    overflow-y: auto;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;

    .contact {
        position: relative;
        box-sizing: border-box;
        padding: 15px;
        background: $color-white;
        border-radius: $radius6;
        border: 1px solid $color-reminder;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 84px;

        animation: pulse 2s infinite;
        min-width: 0;

        &:hover {
            cursor: pointer;
            transition: transform .2s ease;
            transform: translate(0, -2px);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
        }

        .content {
            position: relative;
            min-width: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .organization {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-14;
                margin-bottom: $space6;
                word-wrap: break-word;
            }

            .contactFace {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-12;
                margin-bottom: $space6;
            }

            .description {
                @include truncateText(1);
                box-sizing: border-box;
                font-size: $font-size-12;
                color: $color-reminder;
            }
        }

        .iconBell {
            position: absolute;
            top: 1px;
            right: 1px;
            opacity: 0.2;

            svg {
                fill: $color-reminder;
                width: 80px;
                height: 80px;
            }
        }
    }

    .reminderSkeleton {
        box-sizing: border-box;
        padding: 15px;
        background: $color-grey-background;
        border: 1px solid darken($color-white, 10);
        border-radius: $radius6;
        height: 84px;
        position: relative;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        min-width: 0;

        .content {
            min-width: 0;
            position: relative;

            .organization, .contactFace, .date {
                color: darken($color-white, 10);
                word-wrap: break-word;
                font-size: $font-size-14;
            }

        }

        .noRecords {
            color: darken($color-white, 10);
        }

        .date {
            font-size: $font-size-14;
        }

        .iconBell {
            position: absolute;
            top: 1px;
            right: 1px;
            opacity: 0.5;

            svg {
                fill: darken($color-white, 10);
                width: 80px;
                height: 80px;
            }
        }
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(254, 176, 25, 0.3);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(254, 176, 25, 0);
    }

    100% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(254, 176, 25, 0);
    }
}