@import 'common/css-parameters';
@import 'common/mixins';

.reminderWidget {
    display: flex;
    flex-flow: column nowrap;
    gap: $space10;
    max-height: 260px;
    overflow-y: auto;
    border-radius: 6px;

    .contact {
        box-sizing: border-box;
        padding: 15px;
        background: $color-orange;
        border-radius: $radius6;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .content {
            color: white;

            .organization {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-20;
                margin-bottom: $space6;
            }

            .contactFace {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-18;
                margin-bottom: $space6;
            }

            .description {
                @include truncateText(2);
                box-sizing: border-box;
                font-size: $font-size-14;
                color: darken($color-orange, 20);
            }
        }

        .iconBell {
            display: flex;
            align-items: center;

            svg {
                fill: darken($color-orange, 10);
                width: 33px;
                height: 33px;
            }
        }
    }

    .reminderSkeleton {
        box-sizing: border-box;
        padding: 15px;
        background: $color-grey-background;
        border: 1px solid darken($color-white, 10);
        border-radius: $radius6;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .content {
            .organization, .contactFace, .date, .noRecords {
                color: darken($color-white, 10);
            }
        }

        .date {
            font-size: $font-size-14;
        }

        .iconBell {
            display: flex;
            align-items: center;

            svg {
                fill: darken($color-white, 10);
                width: 33px;
                height: 33px;
            }
        }
    }
}
