@import 'common/css-parameters';
@import 'common/mixins';

.reminderWidget {
    display: flex;
    flex-flow: column nowrap;
    gap: $space10;
    max-height: 260px;
    overflow-y: auto;
    border-radius: 6px;
    padding: 5px;

    .contact {
        box-sizing: border-box;
        padding: 15px;
        background: $color-reminder;
        border-radius: $radius6;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        animation: pulse 2s infinite;

        &:hover {
            cursor: pointer;
            transition: transform .2s ease;
            transform: translate(0, -2px);
            box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
        }

        .content {
            color: white;

            .organization {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-18;
                margin-bottom: $space6;
            }

            .contactFace {
                @include interSemiBold();
                @include truncateText(2);
                font-size: $font-size-18;
                margin-bottom: $space6;
            }

            .description {
                @include truncateText(2);
                box-sizing: border-box;
                font-size: $font-size-14;
                color: darken($color-reminder, 20);
            }
        }

        .iconBell {
            display: flex;
            align-items: center;

            svg {
                fill: darken($color-reminder, 10);
                width: 33px;
                height: 33px;
            }
        }
    }

    .reminderSkeleton {
        box-sizing: border-box;
        padding: 15px;
        background: $color-grey-background;
        border: 1px solid darken($color-white, 10);
        border-radius: $radius6;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .content {
            .organization, .contactFace, .date {
                color: darken($color-white, 10);
            }

        }

        .noRecords {
            color: darken($color-white, 10);
        }

        .date {
            font-size: $font-size-14;
        }

        .iconBell {
            display: flex;
            align-items: center;

            svg {
                fill: darken($color-white, 10);
                width: 33px;
                height: 33px;
            }
        }
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}