@import 'common/css-parameters';
@import 'common/mixins';

.headingH1 {
    @include interMedium();
    font-size: $font-size-18;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 $space20 $space20 0;

    svg {
        display: block;
        width: 15px;
        margin-left: 6px;
        fill: $color-grey-dark;
    }
}