@import "src/parameters";
@import "src/mixins";
@import "src/font";

.customerListPage {
    width: 100%;

    .customerListWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}