@import "src/parameters";
@import "src/font";
@import "src/mixins";

.header1 {
    box-sizing: border-box;
    padding: 20px 20px;
    font-size: $font-size-biggest;
    background: $color-blue-light2 url("../../../public/bg-header.png") top right no-repeat;
    background-size: 8%;

    width: 100%;
    margin: 0 0 20px 0;
    border-radius: $border-radius-main;
    @include interLight();
}

.header2 {
    margin: 0 0 20px 0;
    font-size: $font-size-bigger;
    @include interSemiBold();
}

.header3 {
    margin: 0 0 20px 0;
}

.header4 {
    margin: 0 0 20px 0;
    font-size: $font-size-normal;
    @include interSemiBold();
}


//ADAPTATION SECTION
@media screen and ($LaptopScreen) {
    .header1 {
        padding: 10px;
        margin-bottom: 10px;

        font-size: $font-size-small;
    }
}

@media screen and ($MobileScreen) {
    .header4 {
        margin: 0 10px 0 50px;
    }
}