@import "src/parameters";
@import "src/font";
@import "src/mixins";

.header {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    z-index: 2;
    position: sticky;
    top: 0;
    transition: all ease 200ms;

    background-color: $color-white;


    .logOut & {
        display: none;
    }

    .logotype {
        font-size: 0;
        background: url("../../../public/img/logotype.png") left center no-repeat;
        background-size: cover;

        width: 100px;
        height: 60px;
        margin-right: 40px;
        transition: width 100ms ease;
    }

    .logOut & {
        display: none;
    }

    .scroll & {
        box-shadow: rgba(60, 72, 88, 0.15) 0px 0px 3px 0px;
        height: 60px;

        .logotype {
            width: 0px;
            margin: 0;
        }

    }

    .contactEditPage & {
        .scroll & {
            height: 70px;
        }
    }
}

@media screen and ($LaptopScreen) {
    .header {

    }
}

@media screen and ($MobileScreen) {

}