@import "src/parameters";
@import "src/mixins";

.loginPage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    height: 100vh;
    width: 100%;
    background: $color-white-light url("../../../public/bg-body.png") left top no-repeat;
    background-size: cover;

    .titleLoginPage {
        width: 70%;
        box-sizing: border-box;
        padding: 0 10px;

        display: flex;
        align-items: center;

        H2 {
            font-size: $font-size-title;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;

            margin: 10px auto;

            span {
                color: $color-green;

                &:nth-child(1) {
                    font-size: calc($font-size-title / 12);
                    color: $color-black;
                }
                &:nth-child(2) {
                    margin: -7px 0 -14px;
                    span {
                        font-size: calc($font-size-title / 20);
                        color: $color-black;
                    }
                }
                //&:nth-child(1) {
                //    font-size: calc($font-size-title / 12);
                //    color: $color-black;
                //}
                //
                //&:nth-child(3) {
                //
                //    font-size: calc($font-size-title / 12);
                //    color: $color-black;
                //}
            }
        }
    }

    .contentLoginPage {
        box-sizing: border-box;
        padding: 0 10px;
        width: 30%;
        background: $color-white;

        display: flex;
        align-items: center;

        .form {
            margin: 10px 10px 10px 50px;
            width: 100%;
            max-width: 400px;
        }
    }
}