@import "../../css-parameters";

@mixin buttonAllStyles($background, $color) {
    background-color: $background;
    color: $color;
    padding: 13px 40px;
    border-radius: $radius6;
    cursor: pointer;
    outline: none;
    &:focus {
        background-color: darken($background, 15);
    }
}

@mixin buttonResetStyles {
    border: none;
    background: none;
    font-size: $font-size-base;
    padding: 0;
}

.button {
    @include buttonResetStyles;
}


.primary {
    @include buttonAllStyles($color-blue, $color-white);
}

.secondary {
    @include buttonAllStyles($color-white, $color-black);
}

.cancel {
    @include buttonAllStyles($color-red, $color-white);

}

.custom {
}

[disabled] {
    background: $color-grey;
    cursor: default;
}
