@import "../../common/css-parameters";

@mixin buttonResetStyles {
    border: none;
    background: none;
    font-size: $font-size-base;
    padding: 0;
}

.buttonImage {
    @include buttonResetStyles();

    &:focus-visible {
        outline: 1px solid $color-grey;
    }
}

.noStyle {
    padding: 1px;
}

.add {
    box-sizing: border-box;
    padding: $space8 $space10 $space6;
    border-radius: $radius6;
    background-color: $color-blue;
    cursor: pointer;

    &:hover {
        background-color: darken($color-blue, 15);
    }

    svg {
        fill: $color-white;
    }
}


[disabled] {
    background: $color-grey;
    cursor: default;

    &:hover {
        background-color: $color-grey;
    }
}
