@import "../../common/css-parameters";

@mixin buttonResetStyles {
    border: none;
    background: none;
    font-size: $font-size-base;
    padding: $space8 $space10 $space6;
    border-radius: $radius6;
    cursor: pointer;
}

.buttonImage {
    @include buttonResetStyles();

    &:focus-visible {
        outline: 1px solid $color-grey;
    }
}

.noStyle {
    padding: 1px;
}

.add {
    background-color: $color-main-dark;

    &:hover {
        background-color: darken($color-main-dark, 15);
    }

    svg {
        fill: $color-white;
    }
}

.clear {
    border: 1px solid $color-grey;

    &:hover {
        background-color: $color-grey-background;
    }

    svg {
        fill: $color-grey-dark;
    }
}

.delete {
    &:hover {
        svg {
            fill: $color-negative-dark;
        }
    }

    svg {
        fill: $color-negative;
    }
}

.deleteContact {
    background-color: $color-negative;

    &:hover {
        background-color: darken($color-negative, 15);
    }

    svg {
        fill: $color-white;
    }
}

.editContact {
    background-color: $color-main-dark;

    &:hover {
        background-color: darken($color-main-dark, 15);
    }

    svg {
        fill: $color-white;
    }
}

.sort {
    background: none;

    svg {
        width: 28px;
        height: 28px;
    }
}


[disabled] {
    background: $color-grey;
    cursor: default;

    &:hover {
        background-color: $color-grey;
    }
}
