@import 'common/css-parameters';
@import 'common/mixins';

.header {
    @include pageLayout(false);
    padding: $space6 $space4 $space18;

    &.hidden {
        display: none;
    }

    .logotype {
        width: 40px;
    }
}