@import '../../common/css-parameters';
@import '../../common/mixins';

.currencyWidget {
    @include blockStyle();

    .currencyWidgetWrapper {
        display: flex;
        flex-flow: column;

        .inputFieldByn, .inputFieldUsd, .inputFieldRub {
            padding: 4px;
            margin-bottom: $space10;
        }

        .inputFieldRub {
            margin-bottom: 0;
        }
    }

}