@import "../../../../parameters";
@import "../../../../font";
@import "../../../../mixins";

.currencyRate {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
    margin-right: 10%;

    .rate {
        box-sizing: border-box;
        margin: 0 5px 0;
        padding: 5px 10px 5px 30px;
        $size: 25px;
        font-size: $font-size-small;
        @include interSemiBold();

        position: relative;

        &.usd {
            background: url("../../../../../public/img/icons/currency/USD.svg") left center no-repeat;
            background-size: $size;
        }

        &.eur {
            background: url("../../../../../public/img/icons/currency/EUR.svg") left center no-repeat;
            background-size: $size;
        }

        &.pln {
            background: url("../../../../../public/img/icons/currency/PLN.svg") left center no-repeat;
            background-size: $size;
        }

        &.rub {
            background: url("../../../../../public/img/icons/currency/RUB.svg") left center no-repeat;
            background-size: $size;
        }

        span {
            @include interExtraBold();
            font-size: $font-size-the-smallest;
            position: absolute;
            top: 0;
        }
    }
}