@import "src/parameters";
@import "src/mixins";
@import "src/font";

.customerList {
    @include tileParameters();

    position: relative;


    .headerList {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 10px;
        border-bottom: 1px $color-grey-light dashed;

        .header3 {
            flex-grow: 1;
            margin: 0;
        }

        .addCustomer {
            padding: 10px 20px;
            font-size: $font-size-smaller;
        }
    }


    .search {
        box-sizing: border-box;
        padding: 10px 10px 0 10px;
        background: $color-white;
        z-index: 2;

        display: flex;
        flex-direction: row;
        width: 100%;

        .scroll & {
            position: sticky;
            top: 0;
        }

        @include customerListTable();


        .actionBar {
            align-self: flex-end;
        }

    }

    .formRow {
        flex-direction: column-reverse;

        .label {
            text-transform: uppercase;
            font-size: $font-size-smallest;
            background-color: $color-white-light;
            padding: 10px;
            margin: 0;
        }

        .inputTextField {
            width: 100%;
            padding: 6px 10px;
            margin-bottom: 10px;
            border-radius: $border-radius-main-small;
        }
    }
}