@import 'common/css-parameters';
@import 'common/mixins';
@import '../CommomStyle.module';

.searchingPanel {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    @include contactListTable();

    .buttonAddContact {
        padding: 10px 10px 6px;
        border-radius: $radius6;
        cursor: pointer;
        outline: none;
        background-color: $color-blue;

        svg {
            fill: $color-white
        }

        &:hover {
            background-color: darken($color-blue, 15);
        }
    }
}