@import 'common/css-parameters';
@import 'common/mixins';
@import '../CommomStyle.module';

.searchingPanel {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    @include contactListTable();

    .buttonAddContact {
        padding: 10px 10px 6px;
        border-radius: $radius6;
        cursor: pointer;
        outline: none;
        background-color: $color-blue;

        svg {
            fill: $color-white
        }

        &:hover {
            background-color: darken($color-blue, 15);
        }
    }

    .contacts {
        position: relative;

        .iconMask {
            position: absolute;
            z-index: 1;
            left: 176px;
            top: 2px;
            cursor: pointer;
            background-color: $color-white;
            border-radius: $radius6;
            padding: 10px 4px 4px 8px;

            svg {
                path {
                    stroke: $color-red;
                }
            }

            &.active {
                svg {
                    path {
                        stroke: $color-green;
                    }
                }
            }
        }
    }
}