@import "../../parameters";
@import "../../mixins";
@import "../../font";

.contact {
    $paddingBottom: 10px;
    @include contactListTable();

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    width: 100%;
    overflow: hidden;
    box-shadow: $box-shadow-contact-tile-inset;

    box-sizing: border-box;
    padding: 10px 0;

    max-height: 50px;
    min-height: 50px;

    &:nth-child(2n) {
        background-color: $color-blue-light3;
    }

    &:last-child {
        box-shadow: none;
    }

    &:hover {
        background: $color-blue-light2;

        &::after {
            border-bottom: 1px $color-grey-light dashed;
            background-color: $color-blue-light2;
        }
    }

    &.more {
        max-height: initial;
    }

    > div, > pre {
        box-sizing: border-box;
        padding: 0 10px;
        font-size: $font-size-smaller;
    }

    .organization {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
        @include interSemiBold();
    }

    .contactFace {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
    }

    .products {
        word-wrap: break-word;
        padding-bottom: $paddingBottom;
    }

    .contacts {
        padding-bottom: $paddingBottom;

        .phone {
            .number {
                padding: 5px 0;

                display: flex;
                flex-direction: row;
                align-items: center;


                .num {
                    width: 68%;
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        width: 90%;
                        border-bottom: 1px dashed $color-grey;
                    }


                }

                &:last-child {
                    .num {
                        &::after {
                            display: none;
                        }
                    }
                }

                .iconList {
                    width: 64px;
                    height: 17px;
                }

                &.work {
                    .iconList {
                        background: url("../../../public/img/icons/iconWorkPhone.svg") center left 5px no-repeat;
                        background-size: 16px;
                    }

                    &.viber {
                        .iconList {
                            background: url("../../../public/img/icons/iconWorkPhone.svg") center left 5px no-repeat,
                            url("../../../public/img/icons/iconViber.svg") center left 26px no-repeat;
                            background-size: 16px;
                        }

                        &.telegram {
                            .iconList {
                                background: url("../../../public/img/icons/iconWorkPhone.svg") center left 5px no-repeat,
                                url("../../../public/img/icons/iconViber.svg") center left 26px no-repeat,
                                url("../../../public/img/icons/iconTelegram.svg") center left 47px no-repeat;
                                background-size: 16px;
                            }
                        }
                    }

                    &.telegram {
                        .iconList {
                            background: url("../../../public/img/icons/iconWorkPhone.svg") center left 5px no-repeat,
                            url("../../../public/img/icons/iconTelegram.svg") center right 22px no-repeat;
                            background-size: 16px;
                        }
                    }


                }

                &.personal {
                    .iconList {
                        background: url("../../../public/img/icons/iconPersonalPhone.svg") center left 5px no-repeat;
                        background-size: 16px;
                    }

                    &.viber {
                        .iconList {
                            background: url("../../../public/img/icons/iconPersonalPhone.svg") center left 5px no-repeat,
                            url("../../../public/img/icons/iconViber.svg") center left 26px no-repeat;
                            background-size: 16px;
                        }

                        &.telegram {
                            .iconList {
                                background: url("../../../public/img/icons/iconPersonalPhone.svg") center left 5px no-repeat,
                                url("../../../public/img/icons/iconViber.svg") center left 26px no-repeat,
                                url("../../../public/img/icons/iconTelegram.svg") center left 47px no-repeat;
                                background-size: 16px;
                            }
                        }
                    }

                    &.telegram {
                        .iconList {
                            background: url("../../../public/img/icons/iconPersonalPhone.svg") center left 5px no-repeat,
                            url("../../../public/img/icons/iconTelegram.svg") center right 22px no-repeat;
                            background-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .email {
        white-space: pre-wrap;
        padding-top: 5px;
        padding-bottom: $paddingBottom;
    }

    .description {
        white-space: break-spaces;
        @include interRegular();
        padding-bottom: $paddingBottom;
    }

    .reminder {
        display: flex;
        flex-direction: row;

        .icon {
            display: block;
            font-size: 0;
            width: 30px;
            height: 30px;
        }

        &.on {
            background: url("../../../public/img/icons/iconNotificationGreen.svg") left no-repeat;
            background-size: 20px;

            .reminderDate {
                color: $color-green;
            }
        }

        &.off {
            background: url("../../../public/img/icons/iconNotification.svg") left no-repeat;
            background-size: 20px;
        }
    }

    .feedbackMessage {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        background: $color-white;
        font-size: $font-size-big;
        line-height: 72px;
    }

    .actionBar {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .archiveProductList {
        width: 100%;

        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        font-size: $font-size-smallest;
        box-shadow: $box-shadow-box-inset;
        background-color: $color-white;

        padding: 0;

        .archiveProduct {
            padding: 7px 5px 7px 25px;
            background: url("../../../public/img/icons/iconArchive.svg") left 5px center no-repeat;
            background-size: 14px;

            border-right: 1px solid $color-grey-light;
        }
    }

    &.emptyList {
        max-height: 500px;

        &:hover {
            background: none;
        }

        .getData {
            margin: 50px auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                @include interSemiBold();
                font-size: $font-size-bigger;
            }
        }
    }
}

//ADAPTATION SECTION
@media screen and ($LandscapeSmallScreen) {
    .contact {
        .contactFace {
            font-size: $font-size-smallest;
        }

        .contacts {
            font-size: $font-size-smallest;
        }

        .products {
            font-size: $font-size-smallest;
        }

        .description {
            font-size: $font-size-smallest;
        }

        .reminder {
            width: 5%;

            &.on, &.off {
                background-position: center center;
            }

            .reminderDate {
                display: none;
            }
        }
    }
}

@media screen and ($LaptopScreen) {
    .contact {
        .products {
            display: none;
        }

        .description {
            display: none;
        }

        .organization {
            width: 24%;
        }

        .contactFace {
            width: 25%;
        }

        .contacts {
            width: 25%;
        }

        .reminder {
            width: 5%;
        }

        .actionBar {
            width: 21%;
        }
    }
}

@media screen and ($MobileScreen) {
    .contact {
        max-height: initial;

        .organization {
            width: 80%;
            padding: 5px 5px 0;
        }

        .contactFace {
            width: 80%;
            padding: 5px 5px 0;
        }

        .contacts {
            width: 80%;
            padding: 5px 5px 0;

            .phone {
                padding-bottom: 5px;
            }

            .email {
                padding: 0;
            }
        }

        .products, .archiveProductList, .description, .reminder {
            display: none;
        }

        .actionBar {
            height: initial;
            width: initial;
            position: absolute;
            right: 10px;
            top: 39%;

            .button {
                padding: 10px;

                &.eye, &.delete {
                    display: none;
                }

                &:hover {
                    padding: 10px;
                }
            }
        }

    }
}