@import "../../../../parameters";
@import "../../../../font";
@import "../../../../mixins";

.currencyTile {
    @include tileParameters();
    padding: 10px;
    position: relative;

    .smallText {
        @include interSemiBold();
    }

    .siteNBRB {
        position: absolute;
        top: 13px;
        right: 9px;

        color: $color-green;

        font-size: $font-size-the-smallest;
    }

    .top {
        .formRow {
            margin-bottom: 0;

            .label {
                margin: 0;
                min-height: initial;
            }

            .inputTextField {
                padding: 6px 25px 10px 6px;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }
            }
        }
    }

    .bottom {
        background-color: $color-white-light;

        box-sizing: border-box;
        margin: 10px -10px -10px;
        padding: 5px;

        .result {
            &.equal {
                display: none;
            }

            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: $color-white;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                $sizeIcon: 20px;
                display: block;
                width: 100%;
                font-size: $font-size-smaller;

                &.USD {
                    background: url("../../../../../public/img/icons/currency/USD.svg") left center no-repeat;
                    background-size: $sizeIcon;
                    padding-left: 26px;
                }

                &.EUR {
                    background: url("../../../../../public/img/icons/currency/EUR.svg") left center no-repeat;
                    background-size: $sizeIcon;
                    padding-left: 26px;
                }

                &.PLN {
                    background: url("../../../../../public/img/icons/currency/PLN.svg") left center no-repeat;
                    background-size: $sizeIcon;
                    padding-left: 26px;
                }

                &.RUB {
                    background: url("../../../../../public/img/icons/currency/RUB.svg") left center no-repeat;
                    background-size: $sizeIcon;
                    padding-left: 26px;
                }

                &.BYN {
                    background: url("../../../../../public/img/icons/currency/BYN.svg") left center no-repeat;
                    background-size: $sizeIcon;
                    padding-left: 26px;
                }

                &.count {
                    width: 100%;
                    margin-top: 5px;
                    @include interSemiBold();
                    font-size: $font-size-normal;
                }
            }
        }
    }
}