@import "parameters";
@import "mixins";
@import "font";

html {

}

body {
    margin: 0;
    padding: 0;

    font-size: 16px;
}

#root {

}

.application {
    @include interRegular();
    color: $color-black;
    background: $color-white-light;

    .appWrapperAuth {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .header {
            height: $header-height;
            max-width: ($max-width-page + 20px);
            padding: 0 10px;
            width: 100%;
            margin: 0 auto;
        }

        .content {
            box-sizing: border-box;
            flex-grow: 1;
            max-width: $max-width-page;
            width: 100%;
            margin: 0 auto;
        }

        .footer {
            height: $footer-height;
            flex-shrink: 0;
        }
    }
}