@import "parameters";
@import "mixins";
@import "font";

html {

}

body {
    margin: 0;
    padding: 0;

    font-size: 16px;
}

#root {

}

.application {
    @include interRegular();
    color: $color-black;

    .appWrapperAuth {
        display: flex;
        flex-direction: row;
    }
}