@import "common/typography";
@import "common/css-parameters";

.layout {
    @include interRegular();
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .navbar {
        width: $navbar-width;
        position: fixed;
        top: 0;
        bottom: 0;

        &.logged {
            display: none;
        }
    }

    .content {
        box-sizing: border-box;
        flex-grow: 1;
        padding-left: $navbar-width;

        &.logged {
            padding-left: 0;
        }
    }
}