@import "parameters";
@import "font";

@mixin pageParameters() {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-left: $width-menu;
}

@mixin tileParameters($border-color:$color-grey-light,$background:$color-white) {
    box-shadow: $box-shadow-main;
    border-radius: $border-radius-main;
    border: 1px solid $border-color;
    background: $background;
}

@mixin customerListTable {
    .products {
        width: 16%;
        margin: 0;
    }

    .contactFace {
        width: 13%;
        margin: 0;
    }
    .organization {
        width: 15%;
        margin: 0;
    }

    .contacts {
        width: 13%;
        margin: 0;
    }


    .description {
        width: 21%;
        margin: 0;

        .inputTextField {
            display: none;
        }
    }

    .reminder {
        width: 10%;
        margin: 0;

        .inputTextField {
            display: none;
        }
    }

    .actionBar {
        width: 11%;
        background-color: $color-white-light;

        margin: 0;
        height: 34px;
    }
}