//Цвета
$color-white: #ffffff;
$color-white-light: #f3f4f6;
$color-black: #2A3547;
$color-grey: #6d7080;
$color-grey-light: #e5e7eb;
$color-green: #00af32;
$color-green-light: #00fa47;
$color-blue: #1131fa;
$color-blue-light: #0095fb;
$color-blue-light2: #e6f2ff;
$color-blue-light3: #f6faff;
$color-red: #ef4444;
$color-red-light: #fa896b;
$color-red-light: #ffcccc;
//Тень
$box-shadow-main: rgba(60, 72, 88, 0.15) 0px 0px 3px 0px;
$box-shadow-main-inset: inset rgba(60, 72, 88, 0.25) 0px 0px 3px 0px;
$box-shadow-border: 0px 0px 0px 1px rgba(223, 229, 239, 1);
$box-shadow-hover: 0 0 1px 0 rgba(0, 0, 0, 0.31),
0 3px 4px -2px rgba(0, 0, 0, 0.25);
$box-shadow-box-inset: 0px 1px 3px 0px rgba(34, 60, 80, 0.2) inset;
$box-shadow-customer-tile-inset: 0px -5px 5px -5px rgba(34, 60, 80, 0.2) inset;

//Размер шрифта

$font-size-the-smallest: 0.625em;
$font-size-smallest: 0.6875em;
$font-size-smaller: 0.812em;
$font-size-small: 0.875em;
$font-size-normal: 1em;
$font-size-big: 1.375em;
$font-size-bigger: 1.625em;
$font-size-biggest: 2em;
$font-size-title: 6em;

//Граница
$border-radius-main: 6px;
$border-radius-main-small: 3px;

//Размеры
$width-menu: 190px;
//1560px

//Transition
$transition-main-box-shadow: box-shadow ease 100ms;