//Цвета
$color-white-dark: #DFE5EF;
$color-white-light: #fafafa;
$color-white: #ffffff;
$color-black: #2A3547;
$color-green: #4BAF47;
//Тень

//Размер шрифта

$font-size-the-smallest: 1em;
$font-size-smallest: 1em;
$font-size-smaller: 1em;
$font-size-small: 0.875em;
$font-size-normal: 1em;
$font-size-bigger: 1em;
$font-size-biggest: 2em;
$font-size-the-biggest: 2em;
$font-size-title: 6em;

//Граница
$border-radius-main: 7px;

//Размеры
