// @description Цветовая палитра проекта.
$color-blue: #0f79f3;
$color-purple: #796df6;
$color-purple2: #6f63e1;
$color-white: #ffffff;
$color-grey: #dae0ec;
$color-grey-dark: #919aa3;
$color-grey-background: #eff3f9;
$color-red: #f44336;
$color-black: #475569;
$color-ultra: #00cae3;

