// @description Цветовая палитра проекта.
$color-blue: #0f79f3;
$color-purple: #796df6;
$color-purple-light: #ebe9fe;
$color-purple-dark: #6f63e1;
$color-white: #ffffff;
$color-grey: #dae0ec;
$color-grey-dark: #919aa3;
$color-grey-background: #eff3f9;
$color-grey-background-skeletons: #f5f5f5;
$color-red: #f44336;
$color-red-dark: #b42d24;
$color-black: #475569;
$color-ultra: #00cae3;
$color-green: #2ed47e;
$color-green-light: #2ed47e1a;

