// @description Цветовая палитра проекта.
$color-blue: #0f79f3;
$color-purple: #796df6;
$color-white: #ffffff;
$color-grey: #dae0ec;
$color-grey-light: #eff3f9;
$color-red: #f44336;
$color-black: #475569;

