// @description Отступы
$space: 2px;
$space4: ($space * 2);
$space6: ($space * 3);
$space8: ($space * 4);
$space10: ($space * 5);
$space12: ($space * 6);
$space14: ($space * 7);
$space16: ($space * 8);
$space18: ($space * 9);
$space20: ($space * 10);

// @description Закругления
$radius: 1px;
$radius2: ($radius * 2);
$radius4: ($radius * 4);
$radius6: ($radius * 6);
$radius10: ($radius * 10);

// @description Ширина navbar
$navbar-width: 220px;
