@import "common";
@import "css-parameters";

@mixin blockStyle() {
    box-sizing: border-box;
    padding: $space20;
    margin: $space6;
    border-radius: $radius10;
    background-color: $color-white;
}