@import "common";
@import "css-parameters";

@mixin blockStyle($padding: $space20) {
    box-sizing: border-box;
    padding: $padding;
    border-radius: $radius10;
    background-color: $color-white;
}