@import 'common/css-parameters';
@import 'common/mixins';

.modalConfirm {
    display: block;
    padding: 30px 100px 10px;

    > div {
        justify-content: center;
    }

    .description {
        font-size: $font-size-14;
        color: $color-grey-dark;
        margin-bottom: $space20;
    }

    .actionBar {
        .delete {
            background-color: $color-negative;
            border: 1px solid $color-negative;

            &:hover {
                background-color: darken($color-negative, 15);
                border: 1px solid darken($color-negative, 15);
            }
        }

        button {
            margin: $space20;
        }
    }
}