@import "common/css-parameters";

.loginForm {
    width: 350px;

    .actionBar {
        display: flex;
        flex-flow: column;
        margin-top: $space18;
        margin-bottom: $space18;
    }
}