@import 'common/css-parameters';
@import 'common/mixins';

.contactList {
    @include blockStyle($space20 0 $space20 0);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 2;
    width: 65%
}
