@import '../../common/css-parameters';
@import '../../common/mixins';

.phoneList {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid $color-grey-background;
    margin-bottom: $space16;
    padding-bottom: $space8;

    .contacts, .comment {
        width: 50%;
        box-sizing: border-box;
        padding-right: $space10;
    }

    .number, .email, .address {
        box-sizing: border-box;
        padding-right: $space10;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: $space6;
        font-size: $font-size-14;
        color: $color-black;
        position: relative;

        &:hover {
            cursor: pointer;
            color: $color-purple;

            &::before {
                content: 'скопировать';
                background: $color-purple;
                color: $color-white;
                position: absolute;
                padding: 6px 6px 7px 6px;
                border-radius: $radius4;
                left: -82px;
                top: -2px;
            }

            &::after {
                position: absolute;
                top: 3px;
                left: 14px;
                content: '';
                display: block;
                border: 10px solid transparent;
                border-left: 10px solid $color-purple;
            }
        }
    }

    .icon {
        height: 21px;

        svg {
            width: 16px;
            display: block;
            margin-right: $space10;
            fill: $color-grey-dark;
        }
    }
}

